:root {
  --blue: #3EA1DB;
  --blue-dark: #574AE8;
  --white: #FFF;
  --title: #313131;
  --text: #B6B6B6;
  --input-back: rgba(255, 255, 255, 0.2);
  --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
  --main: #F3F5F7;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: var(--main);
}

#homepage header {
  padding: 41px 0;
  background: var(--linear);
  color: var(--white);
  height: 250px;
}

#homepage header .logo {
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

#homepage header .logo p {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  cursor: pointer;
}

#homepage header .search {
  margin-top: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homepage header .search input {
  border-radius: 5px;
  width: 900px;
  height: 65px;
  padding: 0 50px;
  background-color: var(--input-back);
  border: none;
  color: var(--white);
  background-image: url("/assets/search-icon.svg");
  background-position: 10px 18px;
  background-repeat: no-repeat;
  font-size: 15px;
  outline: none;
}

#homepage header .search ::-webkit-input-placeholder {
  color: var(--white);
  opacity: 0.5;
}

#homepage header .search :-ms-input-placeholder {
  color: var(--white);
  opacity: 0.5;
}

#homepage header .search ::-ms-input-placeholder {
  color: var(--white);
  opacity: 0.5;
}

#homepage header .search ::placeholder {
  color: var(--white);
  opacity: 0.5;
}

#homepage main {
  margin-bottom: 50px;
}

#homepage main .content {
  max-width: 900px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto;
}

#homepage main .content .post {
  height: auto;
  background: var(--white);
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 25px;
}

#homepage main .content .post .header-post {
  padding: 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}

#homepage main .content .post .header-post span {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text);
}

#homepage main .content .post .header-post img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#homepage main .content .post .body-post {
  padding: 22px 25px 10px 25px;
  text-align: left;
}

#homepage main .content .post .body-post h3 {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 8px;
}

#homepage main .content .post .body-post p {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--text);
}

@media (min-width: 769px) and (max-width: 932px) {
  .logo {
    margin: 0 25px !important;
  }
  .search {
    margin: 0 25px;
  }
  main {
    margin: 0 25px;
  }
}

@media (max-width: 768px) {
  .logo {
    margin: 0 25px !important;
  }
  .logo p {
    font-size: 22px !important;
  }
  .search {
    margin: 0 25px;
  }
  main {
    margin: 0 25px;
  }
  .header-post span {
    font-size: 14px !important;
  }
  .header-post img {
    width: 20px !important;
    height: 20px !important;
  }
  .body-post h3 {
    font-size: 24px !important;
  }
  .body-post p {
    font-size: 16px !important;
  }
}
/*# sourceMappingURL=style.css.map */